* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    padding: 0%;
    background-color: black;
    overflow-x: hidden;
    overflow-y: scroll;
}

#page1 {
    height: 100%;
    width: 100%;
    /* background-color:black; */
    display: flex;
    justify-content: center;
    background-image: url(https://sxcontent9668.azureedge.us/cms-assets/assets/Homepage_Starlink_SLC_40_Desktop_5b1e6b5dd0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

}

#space {
    margin: 0px;
    padding: 20px 20px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    position: relative;
    width: fit-content;

}

#nav1 {
    height: 40%;
    width: 100%;
}


#id {
    height: 100vh;
    width: 15vw;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: blueviolet; */

}

#div1 {
    margin: 1%;
    height: 20%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

#nav-btn {
    left: 15%;
    height: 100%;
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:transparent;
    top: -100%;
   

}
#div1 a{
    top: -100%;
    position: relative;
}
#div1 a::after {

    content: " ";
    position: absolute;
    height: 1px;
    width: 0%;
    left: 0%;
    bottom: 0%;
    transition: all ease 0.5s;
    transform: translate(0%);
    background-color: white;


}

#div1 a:hover::after {
    width: 100%;

}

#id i {
    text-decoration: none;
}

#text {
    position: absolute;
    width: 30%;
    height: 30%;
    background-color: transparent;
    color: white;
    text-align: start;
    top: 60%;
    left: 4.5%;
    animation-name: one;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-timing-function: ease;

}

@keyframes one {
    from{
        
        top:100%;
    }
    to{
        bottom: 0%;
    }
    
}


#but {
    margin: 0px;
    padding: 15px 25px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;

}

#but:hover {
    color: black;
    background-color: white;

}

#page2 {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url(https://sxcontent9668.azureedge.us/cms-assets/assets/Star6_84_050425_DSC_4447_desktop_6c42fc10f6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

#text2 {
    position: absolute;
    width: 30%;
    height: 30%;
    background-color: transparent;
    color: white;
    text-align: start;
    top: 60%;
    left: 4.5%;

}

#page3 {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url(https://sxcontent9668.azureedge.us/cms-assets/assets/20250501_Starlink_6_75_DSC_00459_desktop_22e5106564.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

#text3 {
    position: absolute;
    width: 30%;
    height: 30%;
    background-color: transparent;
    color: white;
    text-align: start;
    top: 60%;
    left: 4.5%;

}

#page4 {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url(https://sxcontent9668.azureedge.us/cms-assets/assets/Eva_Suit_Desktop_alternate_1cf9bae18e.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

#text4 {
    position: absolute;
    width: 15%;
    height: 35%;
    background-color: transparent;
    color: white;
    text-align: start;
    top: 60%;
    left: 4.5%;

}

#page5 {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url(https://sxcontent9668.azureedge.us/cms-assets/assets/make_life_multiplanetary_desktop_3fa7cff73c.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

#text5 {
    position: absolute;
    width: 15%;
    height: 35%;
    background-color: transparent;
    color: white;
    text-align: start;
    top: 60%;
    left: 4.5%;

}

/* #nav-btn {

    animation-name: ok;
    animation-timing-function: ease;
    animation-duration: 5s;
    animation-direction: alternate;
    
 }

@keyframes ok {
    from {
        
        top: -100%;
    }

    to {
        
        top: 0%;
    }

}  */

#a{
    animation-name: ok;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
#b{
    animation-name: ok;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}
#c{
    animation-name: ok;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-delay: 3s;

}
#d{
    animation-name: ok;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-delay: 4s;

}
#e{
    animation-name: ok;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-delay: 5s;

}
#f{
    animation-name: ok;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-delay: 6s;

}
#g{
    animation-name: ok;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-delay: 7s;

}
#h{
    animation-name: ok;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-delay: 8s;

}

#shop{
    animation-name: ok;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-delay: 9s;

}


@keyframes ok {
    from {
        top: -100%;
    }

    to {
        top:0%;
    }

}
/* #nav-btn a{
    animation-name:air ;
    animation-timing-function: ease;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-play-state: running;
    position: absolute;
    
} */
